
.more{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    margin: 0 auto;
}



/* .inforbreadlistのCSS */

.inforbreadlist{
    display: flex;
    flex-direction: flex-start;
    list-style-type: none;
    
}
.inforbreadlist  > li {
    padding-right: 10px;
}

/* InforProductsのcss */
.ear-information{
   
    display: flex;
    justify-content: space-around; 
    /* gap: 10vw;  */
   border: 1px #efefef solid;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.ear-info-img > img{
    border-radius: 10px;
}
.ear-info-imgs {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.ear-info{
    /* margin-top: 100px; */
    /* margin-right: 100px; */
    text-align: left;
}
.ear-info > h3{
    font-size: 28px;
}
.ear-info > .info-best-price{
    font-size: 32px;
    color: #DE5D50;
    
    margin-top: 50px;
}
.ear-info > .infor-price{
    font-size: 72px;
    font-weight: bold;
    color: #DE5D50;
    margin-bottom: 0;
}
.ear-info > .infor-price > span{
    font-size: 28px;
}

.infor-small{
    text-align: right;
    margin-right: 200px;
    margin-top: 0;
}
.ear-info > button {
    font-size: 48px;
    padding: 20px 100px;
    margin-top: 78px;
    color: #fff;
    background-color:#F08300 ;
    letter-spacing: 5px;
    white-space: nowrap;
    border-radius: 10px;
    border: #F08300;
    box-shadow: 0 5px 1px 1px #928f8f; 
}
.ear-info > button:hover{
    background-color: #f6a542;
    box-shadow: 0 0 0 0;
    transform: translate(0,5px);
  
}



/* PurchaseRules  */


.togglestep{
    border-radius: 10px;
    background-color: #F08300;
    /* max-width: 1250px; */
    text-align: center;
    /* margin-left: 100px; */
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;
    color: #fff;
    font-size: 28px;

    box-shadow: 0 5px 1px 1px #928f8f; 
}
.togglestep:hover{
    background-color: #f6a542;
    box-shadow: 0 0 0 0;
    transform: translate(0,5px);
}
.togglesteps{
    margin-left: 20px;
}
.steps-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 80px;
    /* margin-left: 100px;
    margin-right: 25px;
    */
}
.step-card{
    border: 1px solid #ddd;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}

.step-number {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
  }
  
  .step-title {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
  }
  
  .step-description {
    margin-top: 5px;
    color: #555;
    padding: 20px 10px 50px 10px;
    text-align: left;
    margin-left: 100px;
  }
.step-description1,
.step-description2,
.step-description3{
  font-size: 20px;
}

/* NoPurchase */
.togglesell{
    border-radius: 10px;
    background-color: #F08300;
    /* max-width: 1150px; */
    text-align: center;
    /* margin-left: 100px; */
    margin: 0 auto;
    padding: 30px;
    margin-top: 100px;
    color: #fff;
    font-size: 28px;
    box-shadow: 0 5px 1px 1px #928f8f;  
}
.togglesell:hover{
    background-color: #f6a542;
    box-shadow: 0 0 0 0;
    transform: translate(0,5px);
}
.togglesells{
    margin-left: 20px;
}
.sell-grid{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 80px;
    /* margin-left: 100px;
    margin-right: 25px; */
}
.nosell-card{
    border: 1px solid #ddd;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
}
.nosell-number{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
}
.nosell-title{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}
.nosell-description{
    margin-top: 5px;
    color: #555;
    padding: 20px 10px 50px 10px;
    text-align: left;
    margin-left: 100px;
    
}

.nosell-description1,
.nosell-description2,
.nosell-description3 {
    font-size: 20px;
}

/* InforUserReview  */
.users-infor-review{
    border: 1px #efefef solid;
    margin-top: 100px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.users-infor-review > h2 {
 
    /* max-width: 1250px; */
    text-align: center;
    /* margin-left: 100px;
    margin-right: 100px; */
    padding: 30px;
    /* margin-top: 100px; */
    font-size: 28px;
    border: 2px black solid;
    border-radius: 10px;
}

.picture-sun > img{
    margin-top: 25%;
}
.users-re{
    display: flex;
   padding-left: 170px;
   
   text-align: left;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px black solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.users-re:hover{
    transform: scale(1.05);
    transition: all 0.5s;
}
.user-age{
    margin-left: 50px;
}
.users-time{
    margin-top: 30px;
}
.users-description{
    /* margin-left: 300px; */
    margin: 0 auto;
  
    font-size: 20px;
}

/* sub２ページのユーザーレビュー */
.sp-users-re{
    display: none;
}
.sp-users-infor-review > h2{
    display: none;
}
.sp-last{
    display: none;
}

@media screen and (min-width:375px) and (max-width:428px) {
  
    /* InforBreadList */
    .inforbreadlist{
        font-size: 10px;
    }
    
    
    .ear-information{
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
    }
    .ear-info-img > img{
        width: 100%;
    }
    .ear-info-imgs {
       display: none;
    }
    .ear-info > h3{
        font-size: 24px;
    }
    .ear-info > .info-best-price{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .ear-info > .infor-price{
        margin-top: 0;
        font-size: 50px;
    }
    .ear-info > .infor-small{
        margin: 0;
        font-size: 10px;
        text-align: left;
    }
    .ear-info > button {
        font-size: 24px;
        padding: 10px 50px;
        margin-top: 30px;
        margin-bottom: 20px;
        color: #fff;
        background-color:#F08300 ;
        letter-spacing: 5px;
        white-space: nowrap;
        border-radius: 10px;
        border: #F08300;
        box-shadow: 0 5px 1px 1px #928f8f;
    }
    /* 査定の手順について */
   .steps-grid{
    display: flex;
    flex-direction: column;
   }
   .step-card{
    width: 100%;
   }
   .step-description{
    margin: 0;
   }
   .togglestep{
    font-size: 24px;
    padding: 20px;
   }
   .step-title{
    font-size: 20px;
   }
   .step-description > p{
    font-size: 14px;
   }
    /* 買取不可の基準 */
    .sell-grid{
        display: flex;
        flex-direction: column;
    }
    .nosell-description{
        margin: 0;
    }
    .togglesell{
        font-size: 24px;
        padding: 20px 0;
    }
    .nosell-title{
        font-size: 20px;
    }
    .nosell-description > p{
        font-size: 14px;
    }
   
    /* ユーザーレビュー */
    .users-re{
        display: none;
    }
    /* .users-infor-review{
        display: none;
    } */
     .users-infor-review > h2{
        font-size: 20px ;
        padding: 20px;
     }
    .sp-users-re{
        display: block;
        display: flex;
        flex-direction: column;
     
        border: 1px #efefef solid;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        margin-bottom: 20px;
    }
    .sp-img-info{
        display: flex;
        justify-content: center;
    }
    .picture-sun > img{
        width: 90%;
    }
    .users-description{
        font-size: 14px;
        padding-bottom: 30px;
    }
    .top-reset{
        width: 20%;
       }
    
   
}

