.second-items{
    display: flex;
    justify-content: center;
}
.product-items{
    display: flex;
    flex-direction: column;
}
.second-product{
    margin-left: 8%;
    width: 65vw;
    min-width: 800px;
}
.money{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}
/* .product-search{
    padding-left: 5%;
} */





/* パンクズリスト */
.breadlist{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}
.breadlist  {
    padding: 0;
    /* margin-left: 5%; */
}
.breadlist > li {
    padding-right: 20px;
}
.sp-sub1-img{
    display: none;
}

/* category　金額を調べるカテゴリー */
.isopen {
    font-size: 24px;
    /* margin-left: 30px; */
}
.category-open > h3{
    border-bottom: 2px black solid;
  
    color: #F08300;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
    padding-bottom: 15px;
    font-size: 24px;
    /* margin-left: 5%; */  
}
.icon{
    width: 7%;
    padding-left: 5%;
}
.money-category{
    margin-left: 5%;
}
.ca-item{
    text-align: left;
    line-height: 3;
    font-size: 20px;
}



/* SearchForm 金額を調べる枠 */

.formContainer{
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    border: 2px black solid;
    /* width: 853px; */
    /* margin-left: 150px; */
    /* text-align: center; */
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.second-label{
    font-size: 20px;
}
.money-form{
    padding: 20px 50px;
}
.second-label{
    font-size: 24px;
}
.second-select{
    font-size: 20px;
}
.form-name{
    text-align: left;
    /* margin-left: 150px; */
}
.inputGroup{
    margin: 40px auto;
    padding-top: 10px;
}
 .search-btn{
    text-align: right;
 }
.form-title{
    /* margin-right: 50px; */
    padding-right: 20px;
    font-size: 24px;
    
}
.form-title2{
    /* margin-right: 50px; */
    font-size: 24px;
    padding-right: 20px;
}
.input-keyword{
    width: 50%;
    padding: 10px;
    font-size: 20px;
}
.select-keyword{
    width: 45%;
    padding: 10px;
}

.select-keyword{
    margin-right: 80px;
    font-size: 20px;
    padding: 10px;
}
.brand-keyword{
    width: 40%;
    padding: 10px;
    margin-right: 120px;
    font-size: 20px;
   
}
.form-brand{
    margin-left: 2%;
}
.submit{
    width: 350px;
    padding: 12px;
    background-color: #F08300;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;
   
}
.submit:hover{
    background-color: #f6a542;
}
.handleReset{
   /* margin-left: 55px; */
   margin-top: 20px;
   margin-right: 30px;
}
.second-brand{
    font-size: 16px;
}
.second-name{
    font-size: 18px;
}

.second-price{
    font-size: 20px;
}

/* BrandSearch　ブランドから探す */
.brand-search > h3 {
    color: #F08300;
    border-bottom: 2px black solid;
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 24px;
    
}
.brand-search > h4 {
    font-size:20px;
}
.brand-search{
    text-align: left;
    margin-top: 100px;
}
/* .recen{
    margin-left: 365px;
} */
.brand-search-list{
    text-align: left;
}
.brand-search-list > h5{
    margin-bottom: 0;
    font-size: 20px;
}
.brand-h4:hover{
    color: #F08300;
    cursor: pointer;
}




/* SecondHandのCSS */

.second-item-list{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 60px;


    text-align: center;
    height: 100%;
    /* margin-left: 150px; */
    /* margin-right: 170px; */
    gap: 60px; 
}
.second-card{
    width: 20%;
    border-radius: 10px;
}
.second-card:hover{
    box-shadow: 0 2px 2px 4px #F08300 ;
}
.second-card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.second-form{
    text-align: left;
    /* margin-left: 150px; */
    margin-bottom: 50px;
}
.second-item-info{
    text-align: left;
}
.second-item-line{
    text-decoration: none;
}
.second-brand{
    color: #707070;
    text-align: left;
}
.second-name{
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.second-status{
    background-color: #F08300;
    color: #fff;
    width: 100px;
    text-align: center;
    margin-left: 0;
}
.second-price{
    text-align: left;
    color: #e53935;
    font-weight: bold;
    margin-top: 10px;
}
.pape{
    margin-bottom: 50px;
}
.pape > span{
    border: 1px black solid;
    padding: 10px;
    margin-right: 10px;
}
.pape2{
    margin-top: 50px;
}
.pape2 > span{
    border: 1px black solid;
    padding: 10px;
    margin-right: 10px;
}

/* スマホのsearchform */
.sp-search-form{
    display: none;
}
/* スマホのパンクズリスト */
.sp-breadlist{
    display: none;
}
/* スマホの買取商品の部分 */
.sp-second-container{
    display: none;
}
/* スマホのfooterの最後の情報 */
/* .sp-last{
    display: none;
} */
 .sp-sub2{
    display: none;
 }





/* SubBrandSearchのcss */
.pc-sub1-brand{
    width: 60%;
    height: 60%;
    position: fixed;
    top: 23%;
    left: 25%;
    background-color: #fff;
    border: 3px #F08300 solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px #a29e9e;
    z-index: 100000000;
    overflow: scroll;
}
.all-brand-letter{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.all-brand-letter > span{
    padding: 5px 10px;
    border: 1px black solid;
}
.brand-letter{
    display: flex;
}
.brand-a > h4,p{
    margin: 0;
}



/* ❌のボタン */

.close-button {
    position: fixed;
    width: 50px;
    height: 50px;
    background: orange;
    border-radius: 50%;
    padding: 0;
    border: transparent;
    cursor: pointer;
    top: 23%;
    right: 13%;

  }

  .close-button span {
    width: 25px;
    height: 2px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 12px);
    top: 50%;
    border-radius: 20px;
  }
  
  .close-button span:nth-child(1) {
    transform: rotate(45deg) translate(-1px, -1px);
  }
  
  .close-button span:nth-child(2) {
    transform: rotate(-45deg) translate(1px, -1px);
  }

.sub-brand-search{
    display: none;
}
.active{
    display: block;
}



.overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 画面全体の幅 */
    height: 100%; /* 画面全体の高さ */
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒い背景 */

    display: none; /* 初期は非表示 */
    transition: opacity 0.3s ease; /* スムーズな表示 */
    
  }
  
  .overlays.active {
    display: block; /* 表示される */
    opacity: 1;

  }






@media screen and (min-width:375px)  and (max-width:428px) {
    .money{
        display: none;
    }
    .sp-search-form{
        display: block;
        padding-left: 5%;
        padding-right: 5%;

    }
  
    .sp-formContainer{
        border: 1px black solid;
        /* margin-left: 5%;
        margin-right: 5%; */
        border-radius: 3px;
        padding: 10px 10px;
    }
    .sp-form-name{
        font-size: 20px;  
    }
    .sp-money-form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .sp-input-keyword{
        padding: 2% 10%;
    }
    .sp-select-keyword{
        padding: 2% 8%;
    }
    .sp-brand-keyword{
        padding: 2% 4%;
    }
    .sp-form-brand{
        margin-left: 5%;
    }
    .sp-search-btn{
        margin-top: 20px;
        text-align: right;
    }
    .sp-handleReset{
        font-size: 8px;
        margin-right: 10px;
    }
    .sp-submit{
        font-size: 16px;
        padding: 5px 50px;
        color: #fff;
        background-color: #F08300;
        border: #F08300;
        border-radius: 3px;
    }

    /* スマホのパンクズリスト */
    .sp-breadlist{
        display: block;
        display: flex;
        font-size: 14px;
        padding-left: 5%;
    }
    .sp-sub1-img{
        display: block;
    }
    /* スマホのsub1の買取商品の部分 */
    .second-label{
        font-size: 16px;
        padding-left: 5%;
    }
    .second-select{
        font-size: 14px;
    }
    .second-form{
        margin-top: 50px;
    }
    .sp-second-container{
        display: block;
    }
    .second-card{
        width: 45%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        margin-top: 15px;
        padding: 3px 5px;
    }
    .sp-second-item-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .second-brand{
        font-size: 16px;
        font-weight: bold;
    }
    .second-name{
        font-size: 14px;
        font-weight: normal;
    }
    .second-status{
        font-size: 14px;
    }
    .second-price{
        font-size: 16px;
    }
    /* スマホのfooterの最後の情報 */
    .sp-last{
        display: block;
    }
    .top-reset{
        width: 20%;
       }
    
       .sp-sub1-img{
        position: fixed;
        top: 78%;

       }
}