body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
}



/* headerã®CSS */
.pc-header{
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 1px black solid;
  
}
.pc-header > p{
    margin: 20px 0 0 0;
    padding: 0;
    white-space: nowrap;
}
.search-icon{
    font-size: 35px;
}
.login-icon{
    font-size: 35px;
    color: rgb(91, 92, 92);
}
.favorice-icon{
    font-size: 35px;
}
.cart-icon{
    font-size: 35px;
}
.pc-category{
    display: flex;
    justify-content: flex-start;
    
}
.pc-category > img{
   width: 100%;
}
.pc-category-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-left: 250px;
    margin-bottom: 0;
    margin-top: 0;
    list-style-type: none;
    gap: 70px;
    font-size: 24px;
    font-weight: bold;

}
.pc-icon-item{
    display: flex;
    justify-content: center;
    padding: 0 3px;
    gap: 50px;
    margin: 0 0 0 auto;
    align-items:center
    
}

