/* 全要素の枠を表示 */
/* * {
    outline: 1px solid red; 
} */

html body{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
    overflow-x: hidden;

}




/* headerのCSS */

.pc-infor{
    display: flex;
    justify-content: center;
    color: #f94;
    font-size: 12px;
    font-weight: bold;
}
.infor-icon{
    align-items: center;
    height: auto;
    font-size: 20px;
    padding-right: 10px;
}
.pc-infor-p2{
    color: black;
    font-weight: normal;
}

nav{
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
    width: 100%;
    /* margin-top: 40px; */
}

.pc-header{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
}
.pc-header > p{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 10px;
}
h1{
    margin: 0;
}
h1 > img{
   width: 80%;
}

.pc-category{
    display: flex;
    justify-content: space-between;
    
}

.pc-category-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 3%;
    /* margin-bottom: 0;
    margin-top: 0; */
    /* margin-left: 10%; */
    margin: 0 10% 0 0;
    list-style-type: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
.pc-category-item2{
    display: none;
}
.pc-icon-item{
    display: flex;
    justify-content: center;
    gap:15%;
    padding: 0 3px;
    margin: 0 0 0auto;
    align-items:center
}
.search-icon{
    font-size: 45px;
}
.login-icon{
    font-size: 45px;
    color: rgb(91, 92, 92);
}
.favorice-icon{
    font-size: 45px;
}
.cart-icon{
    font-size: 45px;
}

/* navのボタン背景の色変化 */

/* .li{
    position: relative;
    padding: 10px 30px; 
    border-radius: 50px 50px 50px 50px; 
    transition: background-color  .3s ease-in-out;  

}
.li:hover{
    background-color: #F08300;
    color:#efefef;
} */
.li{
    position: relative;
    padding: 10px 30px; 
    /* font-size: 24px; */
}

.li::after{
    content: "";
    background-color: #F08300;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  
    border-radius: 50px 50px 50px 50px;

    transform: scale(0);
}
.li:hover::after{
   
    transform: scale(1);
    transition: transform .2s ease-in-out;
}
.li:hover{
    color: #ffff;
}
.pc-categpry-old-li > a{
    color: #fff;
}

.pc-categpry-old-li:hover{
    background-color: #e9b97f;
}
.pc-categpry-old-li > a:hover{
    color: #fff;

 
}
/* navをhoverしたら、メニューを下に展開する */

/* .pc-category-olds{
    background-color: #FFF;
    

} */
.pc-category-old{
    /* position: absolute; */
 
    /* top: 55px; */

    padding: 15px;
    position: absolute;
    transform: scale(0);
    left: 0;
    top: 100%;
    padding-left: 0;
    border-top: 1px #fff solid;
    letter-spacing: 0.4em;
    background-color:#F08300 ;
    /* margin: 20px; */
    padding: 0 0 0 0px;
    border-radius: 10px;
    font-weight: normal;
    z-index: 1000;
}
.pc-category-old > li{
    list-style-type: none;
    padding: 5px 30px 5px 20px;

}
.old{
    position: relative;

}

.old::before{
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    position: absolute;
    right: 15px;
    transform: rotate(135deg);
    top: calc(50% - 3px);
}
.old:hover{
    background-color: #e9b97f;
    border-radius: 10px;
}
.li:hover .pc-category-old{
    transform: scale(1);
}
.q{
    width: 150px;
    white-space: wrap;
    text-align: center;
}
.q > p{
    margin: 0;
    padding-left: 10px;
}
.q >img{
    width: 50%;
}
.pc-catagory-old-wireless > h2{
    position: absolute;
    left: 5px;
    color: black;
    font-weight: bold;
}
.pc-catagory-old-wireless{
    position: absolute;
    left: 100%;
    top: 0;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 12px;
    background-color: #e9b97f;
    height: 298px;
    border-radius: 10px;
    transform: scale(0);
   
}
.old-wireles:hover .pc-catagory-old-wireless{
    transform: scale(1);
}
.w{
    top: -33px;
}
.old-wired:hover .pc-catagory-old-wireless{
    transform: scale(1);
}


.pc-catagory-old-wireless1,
.pc-catagory-old-wireless2,
.pc-catagory-old-wireless3,
.pc-catagory-old-wireless4{
 padding-top: 50px;
}

/* トップページのnavの検索アイコンをクリックしたら、出てくる */
.search-icon:hover{
    background-color: #efefef;
}
.search-icon{
    padding: 10px 5px;
    cursor: pointer;
}

/* topページ、クリックしたら、前に出てくる検索枠 */

.modal-overlay{
    background-color: #b9b4b4;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

}
.form-search-icon{
    background-color: #F08300;
    width: 265px;
    display: flex;
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 20%;
    border: 10px #F08300 solid;
    border-radius: 10px;
    background-color: aliceblue;
    
}

.form-select{
    padding: 10px;
    
}
.form-input{
    padding: 10px 20px; 
    margin-right: 50px;
   
}

.modal-content{
    background-color: #F08300;
  
}

/* FastViewのCSS */
.fastview-swiper{
    padding-top: 30px;
    padding-bottom: 30px;
   
}
.fastview-swiper > .swiper > .swiper-button-next{
    background-color: #F08300;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 50%;
    color: #fff;
  }
  .fastview-swiper > .swiper > .swiper-button-prev{
    background-color: #F08300;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 50%;
    color: #fff;
  }
 
  .fastview-swiper > .swiper > .swiper-pagination {
    --swiper-theme-color: #F08300; 
   
  }
  .fastview-swiper > .swiper > .swiper-pagination > span{
    padding: 5px;

  }
  .fastview-swiper > .swiper > .swiper-wrapper > .swiper-slide > img{
    width: 100%;
    cursor: pointer;
  }

    

  /* トップページ　BannerのCSS */
  
  .banner-swiper {
    text-align: center;
  }
  .banner-swiper > .swiper > .swiper-slide > img{
    width: 100%;
  }
  /* .banner-swiper > .swiper-wrapper > .swiper > .swiper-slide{
    margin-left: 15px;
  } */



  /* トップページ最近チェック商品のアイテム */
  .recentlycheck{
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .recentlycheck > h2{
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
    margin: 0;
    padding: 30px 0;
  }
  .ca-span{
    width: 9%;
    padding-right:15px;
  }
.recentlycheck > .swiper{
    text-align: center;
}
.recentlycheck > .swiper > .swiper-wrapper{
    padding: 20px 0;
}
.recentlycheck > .swiper > .swiper-wrapper > .swiper-slide{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.recentlycheck > .swiper > .swiper-wrapper > .swiper-slide:hover{
    /* color: #F08300; */
    box-shadow: 0 2px 2px 4px #F08300 ;
    /* border: 1px #F08300 solid; */
}
.recentlycheck > .swiper > .swiper-button-prev{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.recentlycheck > .swiper > .swiper-button-next{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.check-img{
    width: 100%;
    border-radius: 10px;
}
.check-brand{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.check-name{
    text-align: left;
    font-size: 14px;
    margin-top: 0;
    color: #b9b4b4;
}
.check-status{
    background-color: #295c8f;
    width: 15%;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.check-price{
    text-align: left;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #de5d50;
}
.check-tax{
    font-size: 10px;
}


/* 新着アイテム　中古アイテム　ランキングアイテム */
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .heading{
    display: flex;
    margin-bottom: 30px;
   
  }
  .heading > h2{
    cursor: pointer;
    padding-top: 70px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 20px;
    color: #b9b5b5;
    font-size: 20px;
  }
  .heading > h2.active{
    color: #F08300;
    box-shadow: 0 2px 0 0 #F08300;
    font-size: 24px;
  }
  .item-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 2.5%; */
  }
 .container-icon{
    padding-top: 30px;
 }
  .heading-icon{
    width: 100%;
  }
  .container-more{
    display: flex;
    justify-content: space-between;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
  }
  /* .container-more > p{
    padding-top: 90px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #F08300;
  } */
  .item-list{
    padding-top: 30px;
  }
  .item-card{
    margin-bottom: 30px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .item-card:hover{
    box-shadow: 0 2px 2px 4px #F08300 ;
    border-radius: 10px;
  }
  .item-card > img{
    border-radius: 10px;
  }
  .products-brand{
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }
  .products-name{
    font-size: 14px;
    margin-top: 0;
    color: #b9b4b4;
  }
  .statusNew{
    background-color: #295c8f;
    width: 17%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
  }
  .statusUsed{
    background-color: #F08300;
    width: 17%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
  }
  .statusRanking{
    background-color: #e53935;
    width: 17%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 0;
  }
  .products-price{
    text-align: left;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: #de5d50;
  }
  .products-btn{
    text-align: right;
  }

  .pc-products-btn{
    padding: 10px 70px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #F08300;
    color: #fff;
    border: #F08300;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 1px 1px #928f8f;
    cursor: pointer;
  }
  .pc-products-btn:hover{
    transform: translate(0, 5px);
    box-shadow: 0 0 0 0 ;
    background-color: #f6a542;
  }
 

/* 高額買取中は最近チェック　同CSSを共用している */
.heighprice{
    padding-left: 5%;
    padding-right: 5%;
}
.heighprice > .swiper > .swiper-button-prev{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.heighprice > .swiper > .swiper-button-next{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.heighprice-status{
    border-radius: 3px;
    padding: 2px 4px;
    margin-top: 10px;
    width: 50%;
    background-color: #F08300;
    color: #fff;
    text-align: center
    
}
.heighprice > .swiper > .swiper-wrapper > .swiper-slide:hover{
    /* color: #F08300; */
    box-shadow: 0 2px 2px 4px #F08300 ;
    /* border: 1px #F08300 solid; */
}
.heighprice > .swiper{
    text-align: center;
}
.heighprice > .swiper > .swiper-wrapper{
    padding: 20px 0;
}
.heighprice > .swiper > .swiper-wrapper > .swiper-slide{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.heigh-more{
    display: flex;
    justify-content: space-between;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
}
.to{
    text-decoration: none;
    color: #fff;
}

/* .heigh-more > p{
    padding-top: 90px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #F08300;
} */


/* staffReview　スタッフのレビュー文 */
.staff-review-contents{
    padding-left: 5%;
    padding-right: 5%;
    
}
.staff-title{
    display: flex;
    justify-content: space-between;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
}
/* .staff-title > p{
    padding-top: 130px;
    margin-bottom: 0;
    color: #F08300;
    font-size: 18px;
} */
.review-list{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-top: 50px;
}
.reviews-sentence{
    white-space: normal;
    width: 290px;
}
.staff-title{
    display: flex;
}
/* .staff-review-contents > h2 {
    text-align: center;
} */

/* .staff-review-category{
    text-align: center;
} */
 .staff-review-category{
    padding-top: 140px;
    margin-left: 40px;
 }
.staff-review-category > span{
    margin: 0 30px;
    font-size: 14px;
    color: #b9b5b5;
    cursor: pointer;
}
.staff-review-category > span.review{
    color: #F08300;
    font-size: 16px;
}
.review{
    color: #F08300;
    box-shadow: 0 2px 0 0 #F08300;
}
.review-card > img{
    border-radius: 10px;
}
.review-card:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}
.review-card > .img-big{
    width: 100%;
}
.review-card{
    padding: 30px 10px;
    border: 1px rgba(0, 0, 0, 0.15) solid;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    cursor: pointer;
}
.staff-btns{
    text-align: center;
    margin: 50px auto;
}
.staff-review-btn{
    font-size: 18px;
    padding: 15px 80px;
}
.products-btn2{
    text-align: right;
    margin-top: 20px;
}
.reviews-name{
    font-size: 14px;
    color: #b9b4b4;
}
.reviews-spans{
    display: flex;
    gap: 15px;
}
.reviews-category1,
.reviews-category2{
    background-color: #e9b97f;
    padding: 2px 4px;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
}
.reviews-icons-infor{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.reviews-icons-infor > img{
    border-radius: 5px;
}
.reviews-brand{
    font-weight: bold;
}





/* User review　ユーザーのレビュー文です */

.users-list{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    padding: 0 5%;
}
.users-brand{
    font-size: 16px;
    font-weight: bold;
}
.users-title{
    /* display: flex; */
    /* justify-content: space-between; */
  
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
  
    /* border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid; */
    
   
}
.users-span{
    margin-left: 5%;
}
.users-title  > p{
    padding-right: 5%;
    font-size: 18px;
    color: #F08300;
    padding-top: 100px;
}
.users-card{
    padding: 30px 10px;
    border: 1px rgba(0, 0, 0, 0.15) solid;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}
.users-card > img{
    border-radius: 10px;
    width: 100%;
}
.users-card:hover{
    transform: scale(1.03);
    transition: all 0.3s;
}
.users-so{
    margin-bottom: 30px;
  
}
.users-btns{
    text-align: center;
    margin: 50px auto;
}
.users-review-brn{
    font-size: 18px;
    padding: 15px 80px;
}

.users-star::after{
    content: "★ ★ ★ ★ ★";
    color: #F08300;
    font-size: 24px;
}

.products-btn1{
    text-align:right;
    margin-right: 5%;
    margin-top: 20px;
}

/* e☆イヤホンの読みもの！ */
.reading-item{
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 1px #efefef solid;
}
.reading-more{
    display: flex;
    justify-content: space-between;
    border-top: 1px #efefef solid;
    border-bottom: 1px #efefef solid;
    margin-top: 10px;
}
/* .reading-more > p{
    padding-top: 140px;
    font-size: 18px;
    color: #F08300;
} */
.reading-item > .swiper > .swiper-wrapper > .img{
    width: 100%;
    border-radius: 10px;
}

.reading-item > .swiper > .swiper-button-prev{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.reading-item > .swiper > .swiper-button-next{
    background-color: #9b9794;
    padding: 10px 20px;
    border-radius: 50%;
    color: #F08300; 
}
.reading-item> .swiper > .swiper-wrapper > .swiper-slide:hover{
    /* color: #F08300; */
    box-shadow: 0 2px 2px 4px #F08300 ;
    /* border: 1px #F08300 solid; */
}
/* .reading-item> .swiper{
    text-align: center;
} */
.reading-item > .swiper > .swiper-wrapper{
    padding: 20px 0;
}
.reading-item > .swiper > .swiper-wrapper > .swiper-slide{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.users-name{
    margin-top: 30px;
    font-size: 14px;
    color: #928f8f;
}




/* recommendation おすすめ読み物 */ 

.recom{
    background-color: #FCF9E8;    
    margin-top: 50px;  
    padding-bottom: 40px;
}
.recom-tile{
    padding-left: 5%;
    text-align: center;
    padding-top: 30px;
 
}
.ear-span{
    padding-right: 15px;
}
.recom > div{
    margin: 0 3%;
}
.recom-content{
    display: flex;
    justify-content: space-between;
    margin: 0 11%;
}

/* .recom-img > img{
    width: 100%;
} */
 .recom-img{
    width: 48%;
    cursor: pointer;
 }
 .recom-img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
 }
 .recom-img:hover{
    transform: scale(1.05);
    transition: all 0.3s;
 }
.recom-img > p{
    margin: 0;
    border-radius: 0 0 10px 10px;
    text-align: left;
    background-color: #fff;
    padding: 10px 30px ;
    font-size: 14px;
}
.recom-imgs{
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    margin: 30px 11% 0;
}
.recom-imgs img{
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
}
.recom-imgs > img:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.recom > h2{
    margin-bottom: 50px;
    
}



/* new　お知らせ　 */
.news-content{

    /* margin-left: 430px; */
    border: 4px #707070 solid;
    display: flex;
    justify-content: center;
    margin-top: 100px;
   margin-right: 11%;
   margin-left: 11%;
}
.news{
    width: 50%;
    padding-bottom: 5px;
    text-align: center
}
.news > p{
    margin-right: 0px;
    padding:  10px 0;
    font-size: 16px;
}
.news > h2{
    margin-right: 40px;
}
.news > p > a {
    text-decoration: none;
    margin-left: 20px;
    text-align: left;
}
.news-notice{
    border-right:4px #707070 solid ;
}
.news > button{
    display: block;
    margin: 0 40px 20px auto;
    padding: 10px;
    font-size: 20px;
    color: #F08300;
    background-color: #fff;
    border: none;
    cursor: pointer;
}


/* guidance e☆イヤホンのご案内 */
.guidance{
    background-color: #F3BB3C;
    /* padding: 30px; */
    margin: 100px auto;
    padding-bottom: 50px;
}
.guidance-title{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
.guidance-content{
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
.guidance-num{
    background-color: #fff;
    border: 1px black solid;
    width: 25%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.guidance-num > p{
    padding: 10px 10px;
    text-align: left;
    line-height: 25px; 
}
.guidance-num > h3{
    text-align: center;
}
.guidance-method{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.band{
    font-size: 12px;
    width: 35px;
    background-color: #0264DF;
    color: #fff;
    padding: 5px;
    margin-left:10px;;
    margin-right: 20px;
}
.allowance{
    font-size: 12px;
    width: 35px;
    background-color: #FE9901;
    color: #fff;
    padding: 5px; 
    margin-left: 0;
    margin-right: 20px;
}
.store1{
    font-size: 12px;
    width: 35px;
    background-color: #22A24D;
    color: #fff;
    padding: 5px; 
    margin-left: 0;
    margin-right: 20px;
}
.guidance-free > a{
    text-decoration: none;
    padding-left: 3%;
}
.guidance-free > a:hover{
    color: #F08300;
}

/* cooperate 相互リンク*/

.cooper{
  text-align: center;
}
.cooperate-title{
    color: #F08300;
    margin-top: 50px;
    padding-bottom: 30px;
}
.cooperate-img{
    display: flex;
    justify-content: center;
    gap: 5%;
}

/* footer css */

footer{
    display: flex;
    justify-content: center;
    background-color:#FCF9E8 ;
    height: 600px;
    margin-top:100px;
    align-items: center;
}

footer div{
    padding: 2vw 4%;
    white-space: nowrap;
}
footer div ul{
     display: flex;
     flex-direction: column;
     list-style: none;
     padding-left: 0;
}
ul li a{
    font-size: 16px;
    text-decoration: none;
    color: black;
} 
footer > h3{
    border-bottom: 2px black solid;
    width: 50%;

}
ul li a:hover{
    color:#F08300 ;
}
.snslogo{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 2vw;
}
.address{
    line-height: 50px;
    margin-top: 50px;
}
.service{
    line-height: 50px;
}
.footerLogo{
    line-height: 50px;
}

/* lastinfo 最後の部分 */

.last-info{
    display: flex;
    justify-content: center;
    margin-top: 0;
    list-style-type: none;
}
.last-info > li {
    margin:  30px;  
}
.last-info > li > a{
    font-size: 14px;
}
.last-content{
    text-align: center;
    font-size: 10px;
}
.last-content > p{
    line-height: 15px;
}

/* 上部に戻るボタン */
.scroll-top{
    cursor: pointer;
}

/* spの最近チェックの見出し上のicon */
.sp-ca{
    display: none;
}
/* 新着　中古　ランキング部分のicon */
.sp-product-icon{
    display: none;
}
.Linkbtn{
    display: none;
}
/* 高価買取中のicon */
.sp-heigh{
    display: none;
}
/* スタッフレビューのicon */
.sp-staff{
    display: none;
}
/* ユーザーレビュー */
.sp-users{
    display: none;
}
 /* e☆イヤホンの読みもの！ */
.sp-reading{
    display: none;
}

@media screen and (min-width:768px) and (max-width: 1300px ) {
    .pc-category-item{
        display: none;
    }
    .pc-category-item2{
        display: block;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        gap: 0%;
        margin-bottom: 0;
        margin-top: 0;
        cursor: pointer;
        list-style-type: none;
        
        font-size: 16px;
        font-weight: bold;
        /* padding-left: 100px; */
        padding-bottom: 30px;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
    /* navをhoverしたら、メニューを下に展開する */
    
    .pc-category-old2{
        /* position: absolute; */
     
        /* top: 55px; */
        padding: 15px;
        position: absolute;
        transform: scale(0);
        left: 0;
        top: 100%;
        padding-left: 0;
       
        letter-spacing: 0.1em;
        background-color:#F08300 ;
        /* margin: 20px; */
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: normal;
    }
    .pc-category-old2 > li{
        list-style-type: none;
    }
    .pc-category-item2::before{
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        top: 0;
        background-color: #fff;
        position: absolute;
    }
    .li:hover .pc-category-old2{
        transform: scale(1);
    }

    /* FastView */
    .fastview-swiper > .swiper > .swiper-wrapper > .swiper-slide > img{
        width: 98%;
      }

      /* e☆イヤホンの読みもの！ */
    .read-title,
    .read-sentence{
        width: 70%;
    }
    /* .reading-item > .swiper > .swiper-wrapper > .swiper-slide{
        width: 50%;
    } */

     /* Footer */
     footer{
        padding-left: 5%;
        padding-right: 5%;
     }
     /* LastInfo */
     .last-info{
        white-space: nowrap;
        padding: 0 5%;
     }

}



@media screen and (min-width:375px) and (max-width:428px) {

    .a{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 998;
    }
    
    h2{
        font-size: 18px;
    }
    
    .pc-infor{
        font-size: 10px;
    }
    .pc-header > p{
        font-size: 8px;
    }
    .sp-logo{
        width: 70%;
    }
    .pc-header {
        text-align: center;
    }
    .pc-category{
        display: flex;
        justify-content: center;
    }
    .pc-category-item,
    .pc-icon-item{
        display: none;
    }
    /* fastview ファストビュー */
    .fastview-swiper{
        padding-top: 0;
    }
    .fastview-swiper > .swiper > .swiper-button-next{
        display: none;
    }
    .fastview-swiper > .swiper > .swiper-button-prev{
        display: none;
    }
    /* bannerの部分 */
    .banner-swiper > .swiper > .swiper-wrapper > .swiper-slide > img{
        width: 100%;
    }
    /* .banner-swiper > .swiper > .swiper-wrapper > .swiper-slide > img:hover{
        transform: scale(1.1);
    } */
    /* 最近チェック商品 */
    .ca-span{
        display: none;
    }
    .sp-ca{
        display: block;
        /* margin: 0 auto; */
        width: 20%;
    }
    .recentlycheck > h2{
        padding: 15px;
        /* text-align: center; */
        border-top: none;
        padding-top: 0;
    }
    .check-price{
        font-size: 16px;
    }
    .recentlycheck > .swiper > .swiper-wrapper > .swiper-slide{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    /* .recentlycheck > .swiper > .swiper-button-prev{
        display: none;
    }
    .recentlycheck > .swiper > .swiper-button-next{
        display: none;
    } */


    /* Products 新着　中古　ランキング */
    .container-icon{
        display: none;
       
    }
    .container-more{
        border-top: none;
    }
    .heading{
        white-space: nowrap;
        gap: 20px;
   
    }
    .sp-product-icon{
        display: block;
        width: 20%;
    }
    .heading > h2{
        margin: 0;
        font-size: 14px;
        padding-top: 20px;
    }
    .p{
        display: none;
    }
    .heading > h2.active{
        font-size: 18px;
        /* padding-top: 0; */
    }
    .item-list{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        gap: 0;
        /* margin-right: 3%; */
      }
    .item-card{
        padding-left: 0;
        padding-right: 0;
        width: 45%;
        padding: 3px 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    .item-card > img{
        width: 100%;
    }
    .Linkbtn{
        text-align: center;
    }
    .linkbtn{
        padding: 5px 30px;
        background-color: #F08300;
        color: #fff;
        border: none;
        border-radius: 3px;
    }
    .linkbtn:hover{
        background-color: #e9b97f;
    }
    .products-price{
        font-size: 16px;
    }
    .products-btn{
        text-align: center;
    }
    .pc-products-btn{
        padding: 5px 50px;
    }


    /* 高価買取中 */
    .sp-heigh{
        display: block;
        width: 25%;
        padding-top: 30px;
    }
    .he-span{
        display: none;
    }
    .heigh-more{
        border-top: none;
    }
    .heighprice > .heigh-more > p{
        padding-top: 0;
        font-size: 14px;
        margin-bottom: 0;
    }
    .heighprice-status{
        width: 120px;
    }
    /* スタッフレビュー */
    .sp-staff{
        display: block;
        width: 25%;
    }
    .staff-span{
        display: none;
    }
    .staff-review-category{
        padding-top: 0;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        gap: 5px;
    }
    .staff-review-category > span{
        margin: 0;
        padding-top: 30px;
    }
    .staff-title{
        border-top: none;
    }
    .staff-title > h2{
        white-space: nowrap;
    }
    .staff-title > p{
        padding-top: 0;
        font-size: 14px;
        padding-top: 20px;
    }
    .heighprice > .swiper > .swiper-wrapper > .swiper-slide{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    .products-btn2{
        text-align: center;
    }

    /* 総合レビュー */
    .sp-users{
        display: block;
        width: 20%;
        padding-left: 5%;
        padding-top: 50px;
    }
    .users-span{
        display: none;
    }
    .users > .users-title > p{
        padding-top: 0;
    }
    .users-title{
        margin: 0;
    }
    .products-btn1{
        text-align: center;
    }
    .users-so{
        margin-left: 3%;
    }
    /* e☆イヤホンの読みもの！ */
    .sp-reading{
        display: block;
        width: 20%;
        padding-top: 50px;
    }
    .rea-span{
        display: none;
    }
    .reading-more{
        margin-top: 0;
        border-top: none;
    }
    .reading-more > p{
        padding-top: 0;
        margin: 0;
        font-size: 14px;
    }
    .reading-more > h2{
        margin: 0;
    }
    /* おすすめ・特集 */
    .recom-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .recom-img{
        width: 100%;
    }
    .recom-img > p{
        padding: 10px;
    }
    .recom-imgs > img{
        width: 49%;
    }
    .recom-imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        margin-top: 10px;
    }

    /* 相互リンク */
    .cooperate-img{
        padding-left: 5%;
        padding-right: 5%;
        gap: 1%;
    }

    /* footer */
    footer{
        display: none;
    }
 
    
    /* e☆イヤホンのご案内 */
    .guidance-content{
        display: flex;
        flex-direction: column;
        
    }
    .guidance-num{
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }
    .guidance-method{
        padding-bottom: 20px;
    }
    .guidance-free {
        padding-bottom: 20px;
    }
    .guidance-free > a{
        padding-left: 3%;
        text-decoration: none;
    }
   

    /* News お知らせ */
    .news-content{
        display: flex;
        flex-direction: column;
    }
    .news{
        width: 100%;
    }
    .news-notice{
        border-bottom: 4px #707070 solid  ;
    }

    /* スマホのfooter */

    .sp-footer-infor{
        margin-top: 40px;
        text-align: center;
    }
    .sp-footer-infor > p{
        background-color: #D9D9D9;
        margin: 10px auto;
        padding: 30px;
    }
       /* LastInfo */
   .last-info{
    display: none;
   }
   .last-content{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
   }

   .top-reset{
    display: none;
   }

}

@media screen and (min-width:1477px) {
    .item-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 4%;
      }
}
/* 
@media screen and (min-width:768px) and (max-width:960px) {
     
} */


