
/* header 上に固定する */
.a{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 998;
}

/* hamburgerメニュー */

.hamburger-line{
    max-width: 35px;
    width: 10%;
    height: auto;
    /* aspect-ratio: 1/1; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    position: fixed;
    top: 70px;
    left: 3%;
    z-index: 998;
}
.line{
    width: 100%;
    height: 3px;
    border-top: 3px solid #4F4E4B;
}
.sp-cart{
    font-size: 40px;
    position: fixed;
    top: 60px;
    right: 3%;
    z-index: 998;
    color: #4F4E4B;
}
.menu{
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 998;
    padding-top: 30px;
    background-color: #efefef;
    width: 90%; 
    height: 100%;
    transition: left 0.5s ease-in-out ;
}
.menu.open{
    left: 0;
}

.menu-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.menu-btn1{
    padding: 10px 38px;
    font-size: 14px;
    background-color: #F08300;
    color: #fff;
    border: #F08300;
    border-radius: 3px;
}
.menu-btn2{
    padding: 10px 26px;
    font-size: 14px;
    background-color: #F08300;
    color: #fff;
    border: #F08300;
    border-radius: 3px;
}

.menu-love > h3 {
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FCF9EB;
}
.tfheart{
    text-align: center;
}
.hamburger-fas{
    font-size: 30px;
}
.sp-hamburger-cago{
    padding-left: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FCF9EB;
    margin-bottom: 0;
    color: #707070;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 画面全体の幅 */
    height: 100%; /* 画面全体の高さ */
    background: rgba(0, 0, 0, 0.5); /* 半透明の黒い背景 */
    z-index: 998; /* サイドメニューの下に表示 */
    display: none; /* 初期は非表示 */
    transition: opacity 0.3s ease; /* スムーズな表示 */
  }
  
  .overlay.active {
    display: block; /* 表示される */
    opacity: 1;
  }





/* ハンバーガーメニューのカテゴリー部分 新品　中古。。。。。*/
.cp_menu {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
}
.cp_menu a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_menu label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #F08300;
	cursor: pointer;
}
.cp_menu label::before {
	position: absolute;
	content: '▼';
	color: #ffffff;
	right: 0.5em;
	top: 25%;
}
.cp_menu input {
	display: none;
}
.cp_menu ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.cp_menu li {
	overflow-y: hidden;
	max-height: 0;
	transition: all 0.5s;
    
}
/*リストが増えたらULごとに追加してください*/
#cp_menu_bar1:checked ~ #link1 li,
#cp_menu_bar2:checked ~ #link2 li,
#cp_menu_bar3:checked ~ #link3 li{
	max-height: 46px;
	opacity: 1;
}
















    /* 頭の検索のfrom */

    .sp-form{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .sp-search > select{
        padding: 10px ;
        border-radius: 5px 0 0 5px;
        
        width: 100%;
        color: #fff;
        background-color: #707070;;
    }
    .sp-input > input{
        padding: 10px 35vw 10px 0;
        border-radius: 0 5px 5px 0; 
    }
    .sp-store{
        display: block;
    }
    .sp-store{
        display: flex;
        justify-content: space-between;
        background-color: #FCF9EB;
        padding: 10px;
    }
   
    .sp-store > p{
        font-size: 14px;
    }
  





      