

/* スマホのハンバーガーメニュー */
.hamburger-menu{
    display: none;
}
.sp-form,
.sp-store{
    display: none;
}
.sp-footer-infor{
    display: none;
}

@media screen and (min-width:375px) and (max-width:428px){
    .hamburger-menu{
        display: block;
    }
    .sp-form,
    .sp-store{
    display: block;
    display: flex;
    }
    .sp-footer-infor{
        display: block;
    }
  
}